@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Open+Sans+Condensed:ital,wght@1,300&family=Roboto:wght@300&display=swap");
body {
  background: linear-gradient(to bottom right, rgb(126, 52, 22), #dedace);
}
.pageBackDrop {
  position: fixed;
  top: 0%; /* fill the gap */
  width: 100vw;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(2px);
  display: none;
}
.displayBackDrop {
  display: block;
}

.pageHeader {
  width: 100vw;
  height: 60px;
  background-color: #1f2628;
  position: fixed;
  top: 0;
  left: 0; /*added to fix the white space*/
  z-index: 9;
  user-select: none;
}

.headerTitle {
  height: 100%;
  width: fit-content;
  overflow: hidden;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-flex;
  align-items: center;
  color: #e2f9ff;
}
.headerTitle > h1 {
  font-family: "Poppins", sans-serif;
  font-style: italic;
  font-size: 35px;
}

.headerAccount {
  width: 220px;
  height: 100%;
  float: right;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.headerAccount > button {
  height: 40px;
  width: 80px;
  border: none;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  opacity: 0.5;
  cursor: pointer;
  outline: 0;
}
.headerAccount > button:hover {
  background-color: #fffdd0;
  opacity: 1;
}

/* Side Menu --------------------- */

.sideMenu {
  top: 0; /* added this so it fills the whole side up without blank space */
  position: fixed;
  height: 100vh;
  width: 300px;
  left: -300px;
  z-index: 10;
  transition: left 0.5s ease;

  background-color: rgb(24, 22, 22);
}
.showSideMenu {
  left: 0;
}

.headerMenuBtn {
  width: 60px;
  height: fit-content;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 0;
  cursor: pointer;
  position: absolute;
  right: -60px;
}
.headerMenuBtn > div {
  width: 40px;
  height: 3px;
  background-color: white;
  border-radius: 10px;
  margin: 4.5px;
}
.headerMenuBtn:hover {
  background-color: #ffffff;
}
.headerMenuBtn:hover > div {
  background-color: black;
}

/* added this for menu options*/
#menuNavOptions {
  text-decoration: none;
  color: #67ff2b;
  padding: 8px 8px 8px 35px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  opacity: 0.6;
  transition: 0.3s;
}

#menuNavOptions:hover {
  background-color: #303030;
  opacity: 1;
}

.img_container {
  margin: auto;
  margin-left: 5%;
}

.ingredient_container {
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0px 0px 8px 5px #e3e3e3;
  color: white;
  border-radius: 8px;
  border: double 2px;
  width: 40%;
  margin: auto;
  margin-top: 6vh;
  margin-bottom: 7vh;
  margin-right: 5%;
  padding: 2%;
  float: left;
  position: relative;
  text-decoration: none;
  font-family: "Inconsolata", monospace;
}

#Ingredient_head > span {
  padding: 8px;
  border-radius: 8px;
  border: solid 2px;
  font-family: "Inconsolata", monospace;
  /* should ingredient header be in span or h2 */
}

/* Summary */
#food_description {
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  border-radius: 8px;
  border: double 2px;
  padding: 3%;
  width: 40%;
  margin: auto;
  margin-right: 6vh;
  float: right;
  font-family: "Inconsolata", monospace;
}

.site_link {
  background: rgb(211, 200, 199);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: Work Sans;
  padding: 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.02em;
  color: #f8f4f4;
  width: 20vw;
  font-family: "Inconsolata", monospace;
  transition: 0.3s;
}

.site_link:hover {
  background-color: rgb(182, 69, 69);
  color: black;
}
.site_link:active {
  background-color: white;
}

/* justins comment section code */
/*heart(like) icon css property*/
.heart_icon {
  float: right;
  margin: 6%;
  width: 30px;
  height: 30px;
}
/*comment icon css property*/
.comment_icon {
  float: right;
  margin: 6%;
  width: 30px;
  height: 30px;
}

/*comment section box and post button property*/
#comment_box,
#postBtn {
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  margin-right: 2.5px;
}

/*Unordered list for listing the comments */
#unordered_list {
  list-style-type: none;
  padding: 0;
}

/*comment section css color and sizing*/
.comment_section {
  padding: 3%;
  border-radius: 8px;
  margin-top: 100px;
  width: 90%;
  /*change the background color to something you like b/c this looks ugly*/
  background-color: #eba34e;
}
