@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-size: 40px
}

body{
    margin: 0;
    background-color: #f0fcff;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    overflow-x: hidden;
}

/*body attributes: display, margin, background, align items at center*/


#title{
    font-size: 40px;
    color: black;
    float: right;
    text-decoration-style:double;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5%;
    margin-right: 10%;
}

/*title attributes*/


#ingredients{
    font-size: 18px;
    color: black;
    text-align: left;
    margin-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    margin-top: 1%;
}

/*ingredients paragraph attributes*/

#mango{
    margin-left: 2%;
    margin-right: 2%;
    width: 360px;
    height: 500px;
}

/*picture of mango dessert attributes*/

#p-title{
    font-size: larger;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process title attributes*/

#process{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process content attributes*/


.block{
    margin-top: 7%;
    padding: 2%;
    background-color: rgb(252, 244, 173) ;
    width: 60vw;
}

/*container class block attributes*/

.block2{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(248, 244, 204) ;
}

/*container class block2 attributes*/

.block3{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(252, 251, 228) ;
}

/*container class block3 attributes*/


#c-title{
    font-size: 30px;
    color: black;
    margin-left: 10%;
    margin-top: 2%;
    text-indent: 1%;
    font-family: 'Oswald', sans-serif;
}

/*comment title attributes*/

.block3 input{
    width: 40vw;
    height: 35px;
    font-size: 18px;
    text-indent: 5px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 6px;
}

/*comment input box in container class block3 attributes*/



/*Jennifer*/ /*macarons*/

#title-1{
    font-size: 40px;
    color: black;
    float: right;
    text-decoration-style:double;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5%;
    margin-right: 20vw;
}

/*title attributes*/


#ingredients-1{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    margin-top: 1%;
    margin-right: 15vw;
}
/*ingredients paragraph attributes*/

#macaron{
    margin-left: 2%;
    margin-right: 2%;
    width: 360px;
    height: 500px;
}

/*macaron picture attributes*/

#p-title-1{
    font-size: larger;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process title attributes*/

#process-1{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process content attributes*/

.block-1{
    margin-top: 7%;
    padding: 2%;
    background-color: rgb(250, 148, 148) ;
    width: 60vw;
}

/*container class block1 attributes*/

.block2-1{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(248, 182, 182) ;
}

/*container class block2 attributes*/

.block3-1{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(252, 228, 228) ;
}

/*container class block3 attributes*/


#c-title-1{
    font-size: 30px;
    color: black;
    margin-left: 10%;
    margin-top: 2%;
    text-indent: 1%;
    font-family: 'Oswald', sans-serif;
}

/*comment title attributes*/

.block3-1 input{
    width: 40vw;
    height: 35px;
    font-size: 18px;
    text-indent: 5px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 6px;
}

/*input in block3 attributes*/

/* Rey */ /*raspberry souffle*/

#title-2{
    font-size: 40px;
    color: black;
    float: right;
    text-decoration-style:double;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 4%;
    margin-right: 20%;
}

/*title attributes*/


#ingredients-2{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    margin-top: 1%;
    margin-right: 10%;
}

/*ingredients paragraph attributes*/

#raspberry{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10%;
    width: 450px;
    height: 700px;
}

/*raspberry picture attributes*/

#p-title-2{
    font-size: larger;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process title attributes*/

#process-2{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process content attributes*/

.block-2{
    margin-top: 7%;
    padding: 2%;
    background-color: rgb(214, 67, 99) ;
    width: 60vw;
}

/*block attributes*/

.block2-2{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(233, 131, 131) ;
}

/*block2 attributes*/

.block3-2{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(224, 185, 185) ;
}

/*block3 attributes*/


#c-title-2{
    font-size: 30px;
    color: black;
    margin-left: 10%;
    margin-top: 2%;
    text-indent: 1%;
    font-family: 'Oswald', sans-serif;
}

/*comment title attributes*/

.block3-2 input{
    width: 40vw;
    height: 35px;
    font-size: 18px;
    text-indent: 5px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 6px;
}

/*block3 input attributes*/


/* Samy */ /*honey baklava*/

#title-3{
    font-size: 40px;
    color: black;
    float: right;
    text-decoration-style:double;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 4%;
    margin-right: 22%;
}

/*title attributes*/


#ingredients-3{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-bottom: 80px;
    font-family: 'Oswald', sans-serif;
    margin-top: 5%;
    margin-right: 20%;
}

/*ingerdients paragraph attributes*/

#honey{
    margin-left: 5%;
    margin-right: 2%;
    width: 350px;
    height: 450px;
}

/*honey baklava attributes*/

#p-title-3{
    font-size: larger;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process title attributes*/

#process-3{
    font-size: 20px;
    color: black;
    text-align: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Oswald', sans-serif;
}

/*process content attributes*/


.block-3{
    margin-top: 7%;
    padding: 2%;
    background-color: rgb(79, 147, 211) ;
    width: 60vw;
}

/*container class block attributes*/

.block2-3{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(131, 187, 233) ;
}

/*container class block2 attributes*/

.block3-3{
    margin-top: 5%;
    padding: 2%;
    width: 60vw;
    background-color: rgb(185, 215, 240) ;

}

/*container class block3 attributes*/


#c-title-3{
    font-size: 30px;
    color: black;
    margin-left: 10%;
    margin-top: 2%;
    text-indent: 1%;
    font-family: 'Oswald', sans-serif;
}

/*comment title attributes*/

.block3-3 input{
    width: 40vw;
    height: 35px;
    font-size: 18px;
    text-indent: 5px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 6px;
}

/*container class block3 input attributes*/



.heart_icon {
    float: right;
    margin: 6%;
    width: 30px;
    height: 30px;
  }
/*heart(like) icon css property*/  
  
  
 #button {
    border: none;
    border-radius: 5px;
    font-size: 13pt;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
    width: 100px;
    height: 30px;
  }
  /*comment post button property*/


  
  #unordered {
    list-style-type: none;
    padding: 0;
  }
/*Unordered list for listing the comments */

  #unordered li{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  }

  /*list inside ul*/