<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href=''>
    <title>Chicken Burger Recipe</title>
</head>
<body>

        <div  class="container16">
        <h1 >Chicken burgers</h1>
        <h4><span>by</span>: Anwar Jahid<span> Jan 2022 </span></h4>
        <img id='recipe_pic16' src="{% static 'images/recipes/chicken_burger.jpg' %}">
        <p>When you are craving a burger, but want a healthier option that doesn't sacrifice the juiciness of a burger or the delicious taste.
            <br>A Chicken Burger is a great option that is not only healthy but also tastes amazing.  </p>

        <div class="recipe16">
            <h2>Ingreedients:</h2>
            <ul class="ingredients16">
                <li>1 1/2 lb. ground chicken</li>
                <li>3/4 tsp. smoked paprika</li>
                <li>1 clove garlic, minced</li>
                <li>3 green onions, minced</li>
                <li>Kosher salt</li>
                <li>Freshly ground black pepper</li>
                <li>2 tbsp. extra-virgin olive oil</li>
                <li>4 slices cheddar</li>
                <li>coleslaw </li>
                <li>1 avocado, thinly sliced</li>
                <li>1/4 small red onion, thinly sliced</li>
                <li>1 jalapeño, thinly sliced</li>
                <li>4 brioche burger buns, split and lightly toasted</li>
        </div>
        <h2>Directions:</h2>
            <ul class="directions16">
                <li>In a large bowl, combine chicken, paprika, garlic, and green onions, 
                    and season with salt and pepper. Divide mixture into 4 patties. </li>
                <li>In a large skillet over medium heat, heat oil. 
                    Add burger patties and cook, flipping once, until golden and a thermometer inserted into the center <br>
                    registers 165°, 8 to 10 minutes.
                    Top with cheddar, cover, and cook until just melted, 2 minutes. Remove from heat and transfer patties to a plate. </li>
                <li>Stack lettuce, coleslaw, chicken burgers, avocado, red onion, jalapeño, and more coleslaw on top of bottom buns. </li>
            </ul>
        </div>
    </div>
    <script src=""></script>
</body>
</html>