<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style/lunch.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="recipe_pic">
                <img src="{% static 'images/recipes/chicken-caldereta.jpg' %}"> 
            </div>

            <div class="recipe_ing">
                <h1>Ingredients:</h1>

                • 2 lbs chicken cut into pieces<br>
                • 1 piece Knorr Chicken Cube <br>
                • 2 pieces carrots wedged <br>
                • 2 pieces potato cubed <br>
                • 8 ounces tomato sauce <br>
                • 2 pieces bell pepper sliced <br> 
                • 4 tablespoons liver spread <br>
                • 1 piece tomato cubed <br>
                • 3 pieces chili pepper chopped <br> 
                • 1 piece onion chopped <br>
                • 3 cloves garlic crushed <br>
                • 3 tablespoons cheddar cheese grated <br>
                • 1 ½ cups water <br>
                • 4 tablespoons cooking oil <br>
            </div>
        </div>
        
        <div style="border-style: solid;">
            <h1>Instructions:</h1>

            • Start by pan-frying the potato and carrots. Heat oil in a pan. Add potato. Fry each side for 1 minute. Remove from the pan and put in a bowl lined with paper towel. Set aside. Do the same thing with the carrots. 
            <br>
            • Using the remaining oil, fry the chicken for 1 ½ minutes per side. Remove from the pan. Set aside. 
            <br>
            • Saute onion and garlic. Add tomato. Continue to saute while stirring until tomato and onion softens. 
            <br>
            • Add chicken and pour-in tomato sauce and water. Let boil. 
            <br>
            • Stir and then add Knorr Chicken Cube and chili pepper. Cover the pan. Cook between low to medium heat for 15 minutes. 
            <br>
            • Turn the chicken pieces over to equally cook the opposite side. Add liver spread. Stir. Cover and cook for 20 minutes. 
            <br>
            • Add bell peppers and cheese. Cook for 3 minutes. 
            <br>
            • Put the carrots and potatoes into the pan. Continue to cook for 5 to 7 minutes. 
            <br>
            • Season with salt and ground black pepper. Serve. Share and enjoy.
        </div>
        
        <script src="" async defer></script>
    </body>
</html>