<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coconut Noodle Soup Recipe</title>
    <link rel="stylesheet" href="{% static "style/breakfast.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"/>
    <!-- LOGO LINK -->
    <link rel="icon" href="images/FoodTalkLogo.png">


    <div class="img_container">
          <img src="{% static 'images/recipes/coconut.png'%}" alt="coconut noodle soup" style="width: 44%; height: 340px; border-radius: 12px"/></a>

        <!--bottom food description section-->
      <div id="food_description">
        <h2 id="Ingredient_head" style="text-align: center">
          <span>Coconut Noodle Soup</span>
        </h2>
        <p>
            Ohn No Khauk Swe is a Burmese dish that is served with noodles along
            with chicken and coconut milk broth.This dish also includes garnishes such as raw onions, chillies, and boiled eggs.
        </p>

        <!-- adding heart image -->
        <img
          id="heart"
          onclick="changeHeart()"
          class="heart_icon"
          src="{% static "images/recipes/heart-regular.svg" %}"
          alt="heart icon"
        />
        <!-- adding comment image -->
        <img
          id="comment"
          onclick="show_n_hide(); changeComment();"
          class="comment_icon"
          src="{% static "images/recipes/comment-regular.svg" %}"
          alt="comment icon"
        />
        <!-- pop comment section after click on comment -->
        <div id="dialog" style="display: none" class="comment_section">
          <input
            type="user_text"
            id="comment_box"
            placeholder="Enter comment"
          />
          <!-- Post button -->
          <button id="postBtn">Post</button>
          <ul id="unordered_list"></ul>
        </div>
      </div>
      <!--container for the ingredient section-->
      <div class="ingredient_container">
        <h2 style="text-align: center">Ingredients</h2>
        <ul>
            <li>3 tablespoons fish sauce</li>
            <li>3 tablespoons soy sauce</li>
            <li>1 tablespoon chopped garlic</li>
            <li>2 tablespoons freshly grated ginger</li>
            <li>2 teaspoons ground turmeric</li>
            <li>2 pounds boneless chicken thighs or breasts cut into 1 inch cubes</li>
            <li>1/4 cup vegetable oil</li>
            <li>2 cups chopped yellow onions</li>
            <li>2 teaspoons ground paprika </li>
            <li>5 cups (three 13 1/2 ounce cans) coconut milk</li>
            <li>7 cups chicken stock</li>
            <li>1/2 cup garbanzo bean flour</li>
            <li>2 pounds fresh or 1 pound dried thin Chinese egg noodles</li>
        </ul>
        <!--bottom link to site, can edit this later to change how it looks-->
        <h2 style="text-align: center">
          <a href="https://www.youtube.com/watch?v=Zjn3jRGOU4Q" target="_blank" class="site_link" style="text-decoration: none">Follow Recipe</a>
        </h2>
      </div>
    </div>
  </body>
  <!-- Script -->
  <script src="{% static 'script/breakfast.js' %}"></script>
</html>
