<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <title>Perfect Lasagna Recipe</title>

     <!-- LOGO LINK -->
     <link rel="icon" href="{% static '/static/images/FoodTalkLogo.png' %}">

    <!-- Css link -->
    <link rel = "stylesheet" href = "{% static 'style/lasagna.css' %}" >

</head>
<body>
    {% include 'blog/header.html' %}

    <div class="container">
        <div class= content>
            <h2 class = title>Perfect lasagna recipe</h2>

                <div class="content_info">
                    <div class="box">
                        <h3>Calories: </h3>
                        <p>
                            360
                        </p>
                    </div>
                    <div class="box">
                        <h3>Cook Time: </h3>
                        <p>
                            50 min
                    </div>

                    <div class="box">
                        </p>
                        <h3>Yield: </h3>
                        <p>
                            6 servings
                        </p>
                    </div>

                </div>

            <div class="image">
                <img src = "{% static 'images/recipes/lasagnaImg.png' %}">
            </div>
        </div>
        <div class="container_ingredients">
            <h2 class = title_ingredients>ingredients:</h2>
            <div class="text_ingredients">
                <p> * 1 tablespoon olive oil</p>
                <p>* 1 small onion (diced)</p>
                <p>* 1 pound ground beef</p>
                <p>* 1 pound italian sausage</p>
                <p>* 1 28 ounce can crushed tomatoes</p>
                <p>* 2 6.5 ounce can tomato sauce</p>
                <p>* 1 6 ounce can tomato paste</p>
                <p>* 2 tablespoons italian seasoning</p>
                <p>* 1/4 cup sugar</p>
                <p>* salt and pepper to taste</p>
                <p>* 1 tablespoon fresh basil</p>
                <p>* 12 lasagna noodles</p>
                <p>* 16 ounce ricotta cheese</p>
                <p>* 1/2 parmesan</p>
                <p>* 1 egg</p>
                <p>* 2 cups of mozzarella cheese</p>
            </div>
        </div>

        <div class="container_text">
            <div class="text">
                <p> 1. In a large skillet over medium high heat add the
                olive oil and onion. Sauté until tender and add the
                ground beef and sausage. Cook and crumble until
                brown and cooked throughout. Add crushed tomatoes,
                tomato sauce, tomato paste, Italian seasoning, sugar,
                and basil. Let simmer on low heat.</p>
                <p>2. In a large pot, bring the water to a boil.
                Add the lasagna noodles and cook for 8-10 minutes.
                Drain and rinse in cold water.</p>
                <p>3. In medium sized bowl add the ricotta cheese,
                parmesan, and egg. Mix until incorporated.</p>
                <p>4. Preheat oven to 375 degrees and spray a 9×13 inch
                pan with non stick spray and set aside.</p>
                <p>5. To make the lasagna start by spreading 1 cup of the meat sauce on the bottom.
                Arrange the noodles in a single layer over the meat sauce.
                Spread 1/2 cup of the ricotta cheese, on top of the noodles followed by shredded mozzarella cheese.
                Repeat the layers and top with cheese.</p>
                <p>6. Cover with aluminum foil and bake for 20 minutes. Remove the foil and bake and additional
                20-25 minutes or until it is heated throughout and cheese is bubbly. Let it cool for 10 minutes
                before serving.</p>
            </div>
        </div>

        <div class="container_step">
            <div class="imagen_step">
                <img src = "{% static 'images/recipes/stepbystep.png' %}">
            </div>

        </div>
    </div>
    <div class="nutrition">
        <h2 class = title_nutrition>nutrition:</h2>
        <div class="text">
            <p>Carbohydrates: 54g | Protein: 63g | Fat: 39g | Saturated Fat: 19g | Cholesterol: 174mg | Sodium: 1514mg | Potassium: 715mg | Fiber: 3g | Sugar: 6g | Vitamin A: 1120IU | Vitamin C: 6.5mg | Calcium: 953mg | Iron: 3.9mg</p>
        </div>
    </div>

</body>
    <script src="script/script_lasagna.js"></script>
</html>
