<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/breakfast.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include 'blog/header.html' %}
    <br /><br /><br /><br />
    <!--need breaks or else the bar thing will hide some of the images/text-->
    <div class="img_container">
      <a
        href="https://www.allrecipes.com/recipe/256653/on-the-farm-scrambled-eggs/"
        target="_blank"
        ><img
          src="{% static 'images/recipes/scrambled_eggs2.jpg' %}"
          alt="scrambled_eggs"
          style="width: 44%; height: 450px; border-radius: 12px"
      /></a>
      <!--bottom food description section-->
      <div id="food_description">
        <h2 id="Ingredient_head" style="text-align: center">
          <span>On-The-Farm Scrambled Eggs</span>
        </h2>
        <!--this is completely copy pasted from the site description-->
        <p style="margin-top: 5vh">
          Creamy scrambled eggs with chives and goat cheese create an earthy
          flavor that will bring you to the farm. A dash of sriracha is your bus
          ticket home if you need it. Serve with your favorite toast, and since
          you are there, a slice or two of bacon.
        </p>
        <!--social media type stuff with heart icon and comment section-->
        <img
          id="heart"
          onclick="changeHeart()"
          class="heart_icon"
          src="{% static 'images/recipes/heart-regular.svg' %}"
          alt="heart icon"
        />
        <img
          id="comment"
          onclick="show_n_hide(); changeComment();"
          class="comment_icon"
          src="{% static 'images/recipes/comment-regular.svg' %}"
          alt="comment icon"
        />
        <!--comment section box thing-->
        <div id="dialog" style="display: none" class="comment_section">
          <input
            type="user_text"
            id="comment_box"
            placeholder="Enter comment"
          />
          <button id="postBtn">Post</button>
          <ul id="unordered_list"></ul>
        </div>
      </div>
      <!--container for the ingredient section-->
      <div class="ingredient_container">
        <h2 style="text-align: center">Ingredients</h2>
        <ul>
          <li>4 eggs</li>
          <li>1 tablespoon half-and-half</li>
          <li>½ teaspoon salt, or to taste</li>
          <li>½ teaspoon ground black pepper, or to taste</li>
          <li>¼ cup crumbled goat cheese</li>
          <li>1 tablespoon chopped fresh chives</li>
          <li>1 tablespoon butter</li>
          <li>2 dashes sriracha sauce (Optional)</li>
        </ul>
        <!--bottom link to site, can edit this later to change how it looks-->
        <h2 style="text-align: center; margin-top: 5vh">
          <a
            href="https://www.allrecipes.com/recipe/256653/on-the-farm-scrambled-eggs/"
            target="_blank"
            class="site_link"
            style="text-decoration: none"
            >Follow recipe step by step</a
          >
        </h2>
      </div>
    </div>
  </body>
  <script src="{% static 'script/breakfast.js' %}"></script>
</html>