<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style/lunch.css' %}">
    </head>
    <body>
        <div class="main">
            <div class="recipe_pic">
                <img src="{% static 'images/recipes/sizzling-crispy-sisig-recipe-.jpg' %}"> 
            </div>

            <div class="recipe_ing">
                <h1>Ingredients:</h1>

                • 1 ½ lbs. pork belly boiled for 1 hour 
                <br>
                • ½ cup Ladys Choice Mayonnaise 
                <br>
                • 2 pieces onion chopped 
                <br>
                • 4 pieces Thai chili pepper chopped 
                <br>
                • 2 pieces long green pepper chopped 
                <br>
                • 16 grams Knorr SavorRich Pork equivalent to 1 sachet 
                <br>
                • ½ teaspoon ground black pepper 
                <br>
                • 2 tablespoons soy sauce 
                <br>
                • ¼ cup margarine 
                <br>
                • 2 cups cooking oil
            </div>
        </div>
        
        <div style="border-style: solid;">
            <h1>Instructions:</h1>
            <br>
            • Heat oil in a deep cooking pot or deep fryer. Fry the boiled pork belly until golden brown and crispy. Chop the crispy pork belly into small pieces. Set aside. 
            <br>
            • Heat half of the margarine in a pan. Sauté half of the onions until soft. Add chopped pork. Saute for 30 seconds. 
            <br>
            • Add Knorr SavorRich. Stir and then add chili peppers and season with ground black pepper and soy sauce. Cook for 1 minute. 
            <br>
            • Add Ladys Choice Mayonnaise. Stir and add remaining onion. Set aside. 
            <br>
            • Heat a metal plate (sizzling plate) on a stovetop. Melt remaining margarine. Transfer the crispy pork sisig into the metal plate. Let it stay for 30 seconds. 
            <br>
            • Serve with warm rice and your favorite beverage. Enjoy!

        </div>
        
        <script src="" async defer></script>
    </body>
</html>