@media screen and (min-width: 768px){
    /* @media screen is used for different widths of the screen
       ex. mobile, laptop, desktop, etc */
    /* no mobile layout for this project! */
    body {
      margin: 0;
      background-color: #f0fcff;
      width: 100vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      overflow-x: hidden;
      font-family: 'Poppins', sans-serif;
    }
    /* REMOVED REY'S NAV */
    /* .pageHeader {
      width: 100vw;
      height: 60px;
      background-color: #1f2628;
      top: 0;
      z-index: 9;
      user-select: none;
    }
    .headerTitle {
      height: 100%;
      width: fit-content;
      overflow: hidden;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      display: inline-flex;
      align-items: center;
      color: #e2f9ff;
    }
    .headerTitle > h1 {
      font-family: "Poppins", sans-serif;
      font-style: italic;
      font-size: 35px;
    } */
    .food_container {
      background-color: white;
      position: relative;
      /* I always put the positioning of a parent div as relative. so that
         I can easily move things around the div with absolute positioning.
         which can sometimes be a pain when zooming in/out but that's how
         I first learned. */
      display: flex;
      margin-top: 10vh;
      width: 95vw;
      text-align: center;
      transition: 0.5s ease;
      box-sizing: border-box;
    }
    .food_container:hover {
      transition: 0.5s ease;
      box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
        5px 5px #373737, 6px 6px #373737;
      transform: translateX(-3px);
    }
    /* bow-shadow allows to have that 3d effect around whatever you want to put it on...
       in this case the parent container while on hover. */
    .food_container .right-col {
      margin-left: -250px;
      width: 100%;
    }
    .food_img {
      width: 400px;
      height: 400px;
    }
    .food_container h1 {
      font-size: 20pt;
      text-decoration: underline;
      margin-bottom: 5vh;
    }
    .food_container p {
      margin-top: -15px;
      font-size: 11pt;
      text-align: center;
      line-height: 123%;
    }
    .stepsBtnDesign {
      position: relative;
      margin-left: -700px;
      font-family: "Poppins";
      font-size: 1.3em;
      padding: 0.1em 1em;
      background-color: black;
      color: white;
      border: 2px solid black;
      border-radius: 0px;
      transition-duration: 0.3s;
      cursor: pointer;
    }
    /* styling steps button */
    .tipsBtnDesign {
      position: absolute;
      margin-left: -270px;
      margin-top: -39px;
      font-family: "Poppins";
      font-size: 1.3em;
      padding: 0.1em 1em;
      background-color: black;
      color: white;
      border: 2px solid black;
      border-radius: 0px;
      transition-duration: 0.3s;
      cursor: pointer;
    }
    /* styling tips button */
    .videoBtnDesign {
        position: absolute;
        margin-left: -85px;
        margin-top: -39px;
        font-family: "Poppins";
        font-size: 1.3em;
        padding: 0.1em 1em;
        background-color: black;
        color: white;
        border: 2px solid black;
        border-radius: 0px;
        transition-duration: 0.3s;
        cursor: pointer;
      }
    .heart_icon {
      width: 30px;
      height: 30px;
      position: absolute;
      margin-top: -35px;
      margin-left: 300px;
    }
    .comment_icon {
      width: 30px;
      height: 30px;
      position: absolute;
      margin-top: -35px;
      margin-left: 350px;
    }
    #comment_box,
    #postBtn {
      border: none;
      border-radius: 5px;
      font-size: 10pt;
      margin-right: 2.5px;
    }
    #unordered_list {
      list-style-type: none;
      padding: 0;
    }
    .comment_section li {
      border-style: solid;
      border-radius: 5px;
      background-color: white;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    .comment_section {
      width: 40%;
      background-color: #242333;
    }
    .middle_container {
      background-color: white;
      position: relative;
      display: block;
      margin-top: 10px;
      margin-left: 400px;
      width: 63vw;
      text-align: center;
      transition: 0.5s ease;
    }
    .middle_container:hover {
      transition: 0.5s ease;
      box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
        5px 5px #373737, 6px 6px #373737;
      transform: translateX(-3px);
    }
    .flex_container {
      display: flex;
      margin-top: 1vh;
      margin-bottom: 5vh;
    }
    .steps_container {
      background-color: white;
      position: relative;
      width: 45vw;
      transition: 0.5s ease;
    }
    .steps_container:hover {
      transition: 0.5s ease;
      box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
        5px 5px #373737, 6px 6px #373737;
      transform: translateX(-3px);
    }
    .steps_container h1 {
      font-size: 20pt;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 5vh;
    }
    .steps_container p {
      margin-top: -10px;
      margin-left: 20px;
      font-size: 11pt;
    }
    .tips_container {
      background-color: white;
      position: relative;
      margin-left: 50px;
      width: 45vw;
      transition: 0.5s ease;
    }
    .tips_container:hover {
      transition: 0.5s ease;
      box-shadow: 1px 1px #373737, 2px 2px #373737, 3px 3px #373737, 4px 4px #373737,
        5px 5px #373737, 6px 6px #373737;
      transform: translateX(-3px);
    }
    .tips_container h1 {
      font-size: 20pt;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 5vh;
    }
    .tips_container p {
      margin-top: -10px;
      margin-left: 50vh;
      font-size: 11pt;
      text-align: left;
    }
    }
    @media screen and (min-width: 1920px) {
        /* media screen for bigger displays
           usually just adjusting the size and positioning of things */
    .food_img {
        width: 700px;
        height: 700px;
    }
    .food_container p {
        margin-left: 50px;
        text-align: left;
        margin-top: -15px;
        font-size: 16pt;
        line-height: 160%;
      }
      .middle_container {
        margin-left: 700px;
        width: 58vw;
      }
      .stepsBtnDesign {
        margin-left: -1010px;
      }
      .tipsBtnDesign {
        margin-left: -420px;
      }
      .videoBtnDesign {
        margin-left: -230px;
      }
      .heart_icon {
        margin-left: 450px;
      }
      .comment_icon {
        margin-left: 500px;
      }
    }

